@using ASP.NET_BlogApp.Models;
@model IEnumerable<Post>

@{
    ViewBag.Title = "Home Page";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    bool isAdmin = ViewBag.IsAdmin ?? false;
}

@foreach (Post post in Model)
{
    @PostHelper.Render(post, Html, isAdmin, false)
}

@if (isPreviousLinkVisible)
{
    <a class="btn btn-primary btn-lg" href="@Href("~/Home/Index/"+ (ViewBag.PageNumber - 1))"> &lt; Previous</a>
}

@if (isNextLinkVisible)
{
    <a class="btn btn-primary btn-lg" href="@Href("~/Home/Index/"+ (ViewBag.PageNumber + 1))"> Next &gt;</a>
}
